body, 
html,
* {
   margin: 0;
    padding: 0;
    font-size: 10px;
    
}

h2 {
    font-size: 2rem;
    margin: 1rem;
}

p {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.title{
    font-size: 30px;
    color: rgba(194, 64, 151, 0.839);
    border-style: solid;
    border: outset rgba(215, 93, 209, 0.815);
    border-radius: 3px;
    border-width: 0.75rem;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(226, 141, 243, 0.555);
    background-size: cover;
}

.title:hover{
    color: rgba(125, 23, 120, 0.839);
    transform: scale(.95);
    filter: drop-shadow(5);
    transform: scale(.9);

    animation-name: pink-gradient;
    animation-duration: 2s;
}
  

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-image: url(https://wallpapercave.com/wp/wp7744181.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    border-width: 1rem;
    margin:1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}



#card-pink{
    border: double rgba(229, 130, 229, 0.741);
    background-color: #f590cea1;
    box-shadow: 5px 5px #f022e563;
}

#card-yellow1,#card-yellow2{
    border: dashed rgb(255, 240, 152);
    background-color: rgba(245, 240, 144, 0.63);
    box-shadow: 5px 5px rgba(237, 240, 34, 0.39);
    
}

#card-blue{
    border: groove rgb(152, 183, 255);
    background-color: rgba(144, 164, 245, 0.63);
    box-shadow: 5px 5px rgba(41, 34, 240, 0.39);
}


@keyframes pink-c {
    0%     {background-color: rgba(226, 141, 243, 0.555);}
    50%     {background-color: rgba(239, 180, 251, 0.745)}
    75%     {background-color: rgba(217, 154, 230, 0.879)}
    100%     {background-color: rgba(226, 124, 247, 0.841)}


}


@media screen and (min-width: 1100px;){
    .container{
        flex-direction: row;
    }

    .card-blue{
        width: 90%;
    }
}

@media screen and (min-width: 800px;){
    .container{
        flex-direction: column;
    }

    .card-blue{
        width: 90%;
    }
    .card-pink{
        width: 90%;
    }
    .card-yellow{
        width: 90%;
    }
}

.card-img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    
}


#card-pink:hover {
	animation: spin 1.5s infinite;
    outline: 0.5rem groove rgba(243, 120, 233, 0.959);
}



#card-blue:hover {
    transform: skew(10deg);
    animation: blue-gradient;
    animation-duration: 2s;
    outline: 0.5rem groove rgba(120, 169, 243, 0.959);
}

#card-yellow1:hover {
    transform: skewY(6deg);
    animation: yellow-gradient;
    animation-duration: 2s;
    outline: 0.5rem groove rgba(243, 241, 120, 0.959);

}

#card-yellow2:hover {
    animation-direction: alternate;
	animation: spincc 1.5s infinite;
    outline: 0.5rem groove rgba(243, 241, 120, 0.959);
}


@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes spincc{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes pink-gradient {
    75%     {background-color: rgb(255, 152, 248);}
    50%     {background-color: rgb(234, 124, 229);}
    50%     {background-color: rgb(250, 62, 219)}
    50%     {background-color: rgb(234, 124, 229);}
    25%     {background-color: rgb(255, 152, 248);}
}

@keyframes blue-gradient {
    100%    {background-color: rgb(152, 183, 255);}
    50%     {background-color: rgb(124, 146, 234);}
    50%     {background-color: rgb(41, 34, 240)}
    50%     {background-color: rgb(124, 146, 234);}
    100%    {background-color: rgb(152, 183, 255);}
}

@keyframes yellow-gradient {
    100%     {background-color: rgb(255, 240, 152);}
    50%     {background-color: rgb(234, 221, 124);}
    50%     {background-color: rgb(244, 250, 62);}
    50%     {background-color: rgb(234, 221, 124);}
    100%     {background-color: rgb(255, 240, 152);}
}

.header-pink:hover{
    color: rgba(228, 47, 219, 0.839);
    transform: scale(1.5);
    filter: saturate(75%)
}

.header-yellow:hover{
    transform: scale(.9);
    filter: brightness(40%);
}

.header-blue:hover{
    color: rgba(77, 47, 228, 0.839);
    transform: scale(.9);
    filter: sepia(50%);
}




.header-pink{
    color: rgb(194, 64, 151);
}

.header-yellow{
    color: rgb(194, 162, 64);
}

.header-blue{
    color: rgb(64, 73, 194);
}


.card-desc {
    margin: 0.5rem;
    font-size: 1.5rem;
}