body, 
html,
* {

   margin: 0;
    padding: 0;
    color: rgb(194, 64, 151);
}

.title{
    font-size: 30px;
    color: rgba(194, 64, 151, 0.839);
    border-style: solid;
    border-color: rgb(177, 74, 172);
    border-radius: 3px;
    border-width: 3px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(226, 141, 243, 0.555);
    background-size: cover;

    transition: all(2.5s);
}
 
.title:hover{
    color: rgba(228, 47, 219, 0.839);
    transform: scale(1.05);
    filter: drop-shadow(5)
}
  

.container{;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-image: url(https://wallpapercave.com/wp/wp7744181.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-pink{
    width: 30rem;
    height: 38rem;
    border: dashed rgb(223, 152, 255);
    border-radius: 1rem;
    margin:0.25rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 144, 206, 0.63);
}



.card-yellow{
    width: 30rem;
    height: 38rem;
    border: dashed rgb(255, 240, 152);
    border-radius: 1rem;
    margin:0.25rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 240, 144, 0.63);
}

.card-blue{
    width: 30rem;
    height: 38rem;
    border: dashed rgb(152, 183, 255);
    border-radius: 1rem;
    margin:0.25rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(144, 164, 245, 0.63);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
    
}

.card-header {
    font-size: 2.4rem;
    margin-top: 1.1rem;
}

.card-desc {
    margin: 1rem;
    font-size: 1.7rem;
}